/* Animazione di caricamento / Loader */

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://localhost:8080/media/bluecat.svg') 50% 50% no-repeat rgb(255, 255, 255, 0.6);
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* ContextMenu */

.menu {
    text-decoration: none;
    list-style-type: none;
    display: none;
}

.menu-on {
    display: block;
}

/* Layout */

.row {
    margin: 0;
}