/* Animazione di caricamento / Loader */

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://localhost:8080/media/bluecat.svg') 50% 50% no-repeat rgb(255, 255, 255, 0.6);
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* ContextMenu */

.menu {
    position: fixed;
    display: none;
    z-index: 9999;
    opacity: .5;
    transition: opacity 10s;
    background-color: white;
    box-shadow: 5px 5px 30px #696969;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    margin: auto;
}

.menu-on {
    display: block;
    opacity: 1;
}

/* Layout */

.row {
    margin: 0;
}